body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #87ceeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* Plansza */
.board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    background-color: #4caf50;
    padding: 1rem;
    border: 5px solid #2e7d32;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.cell {
    min-width: 100px;
    min-height: 100px;
    padding: 0.5rem;
    background-color: #8b5a2b;
    border: 2px solid #654321;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s;
}

.cell:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.turtle {
    width: 60px;
    height: 60px;
    margin: 0.2rem 0;
    padding: 0.5rem;
    border: 3px solid #228b22;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    position: relative;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.turtle.dragged {
    opacity: 0.5;
    cursor: grabbing;
}

.turtle:hover {
    background-color: #32cd32;
    transform: scale(1.1);
}

.cards-container {
    text-align: center;
    margin-top: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card {
    width: 100px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card.yellow {
    background-color: #ffd700;
}

.card.green {
    background-color: #32cd32;
}

.card.red {
    background-color: #ff4500;
}

.card.blue {
    background-color: #1e90ff;
}

.card.purple {
    background-color: #800080;
}

.card.joker {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, purple);
    text-shadow: 0 0 3px black;
}
.player-info {
    margin: 20px 0;
    font-size: 1.2rem;
}

.player-info span {
    text-transform: capitalize;
}
.btn {
    padding: 10px 20px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f57c00;
}

